@import 'app.scss';

:root {

  /*Colors*/
  --text-area-color: #ecf0f1;
  --dashboard-font-color: #606A74;
  --font-color-text-area: #4B535A;
  --button-color: #60B0B0;
  --sidebar-color: #DCF2F2;
  --sidebar-hover: #d7ebebe2;
  --dashboard-subtitle: #4B535A;
  --switch-button: #ffffff;
  --switch-button-border: #D9DADC;
  --gcash-color: #007CFF;
  --dropdown-border: rgba(132, 146, 158, 0.3);
  --hover: #008080;
  --iconic: #606A74;
  --usertype-dropdown: #696969;
  --sort-color: #66B2B2;
  --terms: #60B0B0;
  --error-msg: rgb(230, 189, 189);
  --error-txt: rgb(197, 58, 58);
  --dropdown-open: transparent;
  --focus-txt: #008080;

  /*Font-size*/

  /*FONTS*/
  --font: 'Poppins', sans-serif;
  --font-style: normal;


}

/*========== DARKMODE ==========*/
body.dark-theme {
  --font-color-text-area: #FFFF;
  --dashboard-font-color: #FFFF;
  --sidebar-color: rgba(238, 242, 254, 0.22);
  --sidebar-hover: rgba(238, 242, 254, 0.22);
  --dashboard-subtitle: #FFFF;
  --switch-button: #C7D1CC;
  --switch-button-border: #263238;
  --iconic: #FFFF;
  --usertype-dropdown: #C7D1CC;
  --text-area-color: #525C64;
  --error-msg: rgba(238, 254, 251, 0.22);
  --error-txt: rgb(255, 131, 131);
  --dropdown-open: rgba(0, 0, 0, 0.055);
  --focus-txt: #a4dddd;

}

/*========== CLASS CSS ==========*/
.dashboard-title {
  font-size: 30px;
  font-family: 'Circular Std', 'Poppins', 'sans-serif';
  font-weight: 800;
  color: var(--dashboard-font-color);
  margin-bottom: var(--mb-3);
}

/*========== TEXTBOX ==========*/

.settings_container input {
  margin-top: var(--mb-2);
}

// .textbox input {
//   width: 100%;
//   margin-top: 4px;
//   padding: 5px 15px;
//   box-sizing: border-box;
//   line-height: 2;
//   border: 2px;
//   background: var(--text-area-color);
//   border-radius: 6px;
// }

.textbox,
textarea {
  width: 100%;
  margin-top: 4px;
  padding: 5px 15px;
  height: 45px;
  box-sizing: border-box;
  line-height: 2;
  font-family: var(--font);
  font-size: var(--paragraph-size);
  border: 2px;
  background: var(--text-area-color);
  border-radius: 6px;
  color: var(--font-color-text-area);

  &:hover {
    background-color: #ecf0f10b;
    box-shadow: 0px 0px 0px 1px #bcc8d3;
    transition: background-color ease 0.2s;
  }

  &::placeholder {
    color: var(--paragraph-color);
  }

  &:read-only {

    &:focus, &:hover {
      border: none;
      background: var(--text-area-color);
      color: var(--font-color-text-area);
      box-shadow: none;
      cursor: not-allowed;
    }

  }

}

.textbox:is(:focus) {
  outline: none !important;
  border: 0.5px solid #bcc8d3;
  background-color: #ecf0f10b;
  box-shadow: 0px 0px 0.5px 2px #60B0B0;
  transition: all ease-out 0.1s;
  color: var(--focus-txt);
}

/*========== FLASH MESSAGE ==========*/

.flash-message {
  margin-bottom: 12px;

    .success-msg {
      background: var(--message-bg-color);
      color: var(--login-color);
    }

    .error-msg {
      background: var(--error-msg);
      color: var(--error-txt);
    }

    .msg {
      font-size: var(--small-font-size);
      padding: 10px 15px;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .iconify-inline {
        margin-right: 2px;
      }

      .dismiss {
        cursor: pointer;
      }

    }
}

/*========== switch button ==========*/
input.apple-switch {
  position: relative;
  appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: var(--switch-button);
  border: 1px solid var(--switch-button-border);
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 var(--switch-button);
  transition-duration: 200ms;
}

input.apple-switch:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
  border-color: none;
  box-shadow: inset 20px 0 0 0 #66B2B2;

}

input.apple-switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

/*========== GENDER DROPDOWN ==========*/
.gender-lbl {
  display: block;
  background: var(--text-area-color);
  padding: 14px 24px;
  width: 100%;

    input[type=radio] {
      display: none;
    }
}


.gender-dropdown {
  margin-top: var(--mb-1);
  z-index: 1000;
}

.gender-dropdown .gender-select-box {
  display: flex;
  // width: 360px;
  flex-direction: column;
  color: var(--font-color-text-area);
  z-index: 300;
}

.gender-dropdown .gender-select-box .gender-container {
  background: var(--text-area-color);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.3s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.07);
}

.selected-gender {
  background: var(--text-area-color);
  height: 45px;
  border-radius: 8px;
  margin-bottom: 8px;
  position: relative;
  order: 0;
  padding: 12px 15px !important;

    input[type=radio] {
      display: none;
    }
}

.selected-gender::after {
  content: "";
  background: url(../../public/assets/arrowdown.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 50%;
  width: 16px;
  right: 10px;
  top: 18px;
  transition: all 0.4s;
}

.gender-dropdown .gender-select-box .gender-container.active {
  max-height: 250px;
  opacity: 1;
}

.gender-dropdown .gender-select-box .gender-container.active+.selected-gender::after {
  transform: rotateX(180deg);
  top: 6px;
}

.gender-dropdown .gender-select-box .gender,
.selected-gender {
  // padding: 14px 24px;
  cursor: pointer;
  font-family: var(--font);
  font-size: var(--paragraph-size);
  font-weight: var(--dropdown);
}

.gender-dropdown .gender-select-box .gender .gender-lbl:hover {
  background: rgba(102, 178, 178, 0.67);
  color: white;
}

.gender-dropdown .gender-select-box label {
  cursor: pointer;
}


/*========== SORT DROPDOWN ==========*/
.sort-icon {
  color: var(--dashboard-font-color);
  margin-left: var(--mb-5);
}

.sort-select-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 110px;
  float: right;
  margin-top: -33px;
}

.sort-select-box .sort-container {
  opacity: 0;
  height: 0;
}

.sort-container .sort-dropdown {
  background: var(--text-area-color);
  color: var(--dashboard-font-color);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s;
  margin-top: 20px;
  width: 150px;
  position: relative;
  right: 5px;
  z-index: 1;
}

.sort-dropdown .sort-option a {
  font-size: var(--small-font-size);
  width: 100%;
  text-decoration: none;
  color: var(--usertype-dropdown);
}

.sort-select-box .sort-container.active {
  max-height: 250px;
  opacity: 1;
}

.sort-select-box .sort-option {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
}

.sort-select-box .sort-option:hover {
  background: var(--sort-color);
  color: white;
}

.sort-option a:hover {
  background: var(--sort-color);
  color: white;
}

.sort-select-box .sort-option .a {
  display: none;
}

.sort-option {
  display: flex;
  justify-content: space-between;
}

/*========== REGISTER ==========*/

.account {
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-2);
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;

  a {
    color: #fff;
    font-family: var(--font);
    font-size: var(--normal-font-size);
  }
}

input.register-txtbx {
  margin-top: var(--mb-3);
}

.full-name-container,
.registration-password-container {
  grid-gap: var(--mb-1);
}

.vector {
  margin-top: var(--mb-46);
}

/*========== RESET PASSWORD ==========*/

.reset-container {
  max-width: 520px !important;
  width: calc(100% - 15%) !important;
  margin: auto !important;
}

.reset-txt {
  display: flex;
  align-items: center;
  margin-top: var(--mb-1);
  height: 45px;
  padding: 0px 12px;
  font-size: var(--paragraph-size);
  // border: 2px solid var(--focus-txt);
  background: var(--text-area-color);
  border-radius: 8px;

    .user-icon {
      color: var(--first-color);
    }

    .reset-email {
      padding: 0 6px;
      color: var(--first-color);
    }
}

/*========== SETTINGS ==========*/

.sidebar_nav {
  margin: var(--mb-2);
}

/**Sidebar**/
.sidebar_nav li a {
  display: block;
  width: 220px;
  border-radius: 10px;
  padding: 12px 8px;
  text-decoration: none;
  color: var(--dashboard-font-color);
  font-weight: var(--font-medium);
}

.sidebar_nav ul {
  list-style: none;
}

.sidebar_nav li {
  margin-bottom: 15px;
}

.sidebar_nav li a:hover {
  background: var(--sidebar-hover) !important;
  transition: 0.4s ease;
}

.sidebar_nav ul li .iconify-inline {
  color: #85929E;
  margin: 0px 10px;
  font-size: 18px;
}

.icon {
  color: var(--iconic) !important;
}

/* *** When picked **** */

.picked {
  align-items: center;
  color: var(--first-color) !important;
  background: var(--sidebar-color);
}

.picked-icon {
  color: var(--first-color) !important;
}

.settings {
  color: var(--first-color) !important;
}

/*Forgot Password*/

.password-button {
  float: right;
  color: var(--button-color);
  font-family: var(--font);
  text-decoration: none;
  font-weight: var(--button);
  margin-top: var(--mb-2);
  font-size: var(--paragraph-size);

}

/**ACCOUNT INFORMATION**/
// .txtemail, .txtusername {
//   background-image: url(../../public/assets/pencil-solid.svg);
//   background-repeat: no-repeat;
//   background-position: 98% center;
//   background-size: 17px;
// }

.settings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .settings-profile {
    width: 25%;
    align-self: flex-end;

    .prof-pic {
      border-radius: 100%;
      border: 3.5px solid var(--button-color);
      padding: 5px;
      width: 140px;
      height: 140px;
      object-fit: cover;
    }
  }
  
}

.password-container {

  .new-password {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12px;

  }

}



.dashboard-subtitle-settings,
.dashboard-subtitle-upcoming {
  display: block;
  color: var(--light-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
  font-size: var(--h3-font-size);

}

.dashboard-subtitle-email,
.dashboard-subtitle-username,
.dashboard-subtitle-password,
.dashboard-subtitle-sms,
.dashboard-subtitle-primary,
.dashboard-subtitle-destination {
  font-size: var(--normal-font-size);
  color: var(--light-color);
  font-weight: var(--page-title);
  margin-bottom: 0;
  font-weight: var(--font-medium);
}

.email-description,
.password-description,
.sms-description,
.billing-description,
.bookings-description,
.date-description {
  color: var(--paragraph-color);
  font-size: var(--paragraph-size);
}

.gcash-highlight {
  background: none;
  color: var(--button-color);
}

/*Billing Details*/

.Username-billing,
.Username-passenger {
  color: var(--dashboard-font-color);
  font-weight: var(--font-semi-bold);
  padding-left: 10px;
}

summary {
  list-style: none;
  line-height: 40px;
  margin: var(--mb-1-2);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:hover img {
    opacity: 1;
  }
}

summary::-webkit-details-marker {
  display: none;
}

details.dropdown-billing-container,
details.dropdown-passenger-container:not(.save-changes-account) {
  box-sizing: border-box;
  border: 1px solid var(--dropdown-border);
  margin-bottom: 0px;
  border-radius: 10px;
  max-height: 84px;
  // overflow: hidden;
  transition: all 0.3s ease-in-out;
  
  // box-shadow: 1px 1px 8px 1px rgba(132, 146, 158, 0.119);

  img {
    margin-right: 10px;
    opacity: 0.5;
  }

  &:not([open]) {

    img {
      transform: rotate(-180deg);
      transition: ease 0.3s;
      
    }
}
  &[open] {
    max-height: 290px;
    background-color: var(--dropdown-open);
     

      img {
        transform: rotate3d(180deg);
        transition: ease 0.3s;
      }
  }
}

details.dropdown-billing-container {
  &[open] {
    width: 100%;
    max-height: 230px;
  }
}

.billing-information-container,
.passenger-information-container {
  border-top: 1px solid var(--dropdown-border);
  box-sizing: border-box;
  height: 230px;
  padding: 25px;
  padding-top: 0px;
  border-radius: 0px 0px 12px 12px;
}

.billing-information-container {
  padding-top: 8px;
  height: 168px;
}

.billing-information-container input {
  width: 100%;
  height: 45px;
}

.account:hover {
  background-color: var(--hover);
}

.save-changes-account {
  width: 100%;
  margin-bottom: 0 !important;
}

/*========== PASSENGER ==========*/

// .subheading-informaiton-container,
// .phone-number-container {
//   margin-left: var(--mb-2);
// }

.subheading-informaiton-container {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-column-gap: 12px;
}

.passenger-name-container input:nth-child(3) {
  margin-top: var(--mb-1-2);
}

.subheading-informaiton-container,
.phone-number-container {
  margin-top: var(--mb-01);
}

.primarytxtbx {
  // width: 95%;
  height: 45px;
}

/*Phone Number*/
// .phone-number-container {
//   margin-left: var(--mb-2);
// }

// .phone {
//   position: absolute;
//   padding: 21px 8px;
//   top: -7px;
// }

input.accountphone {
  padding-left: 50px;
  height: 44px;
  border-radius: 8px;
  background-image: url(../../public/assets/flag-philippines.svg);
  z-index: 999;
  background-repeat: no-repeat;
  background-position: 15px 10px;
  
}

/*========== BOOKINGS ==========*/

.bookings-description {
  text-align: center;
  margin-bottom: var(--mb-02);
  margin-top: 3px;
}

.dashboard-subtitle-no-bookings {
  font-size: var(--h2-font-size);
  color: var(--light-color);
  margin-bottom: 0;
  font-weight: var(--font-semi-bold);
}

.no-bookings {
  margin-bottom: 10vh;
  padding-top: 5rem !important;
}

.no-bookings-img {
  margin-bottom: var(--mb-1-2);
}

.book-modal:hover {
  background-color: var(--hover);
  color: #FFFF;
}

/*========== Upcoming Trips  ==========*/

/*RESERVE SEATS*/

.rent-header-container,
.reserve-header-container {
  box-sizing: border-box;
  height: 150px;
  width: 95%;
  margin: var(--mb-3);
  border: 1px solid none;
  margin-bottom: 0px;
  border-radius: 12px 12px 0px 0px;
  background: rgba(146, 210, 210, 0.69);
}

.seatsched {
  float: right;
  margin: var(--mb-3);
  background: var(--body-color);
  color: var(--dashboard-font-color);
  letter-spacing: -0.02em;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  margin-top: -15px;
}

.rent-body-container,
.reserve-body-container {
  margin: var(--mb-3);
  margin-top: -1px;
  border: 1px solid var(--dropdown-border);
  border-radius: 0px 0px 12px 12px;
  box-sizing: border-box;
  height: 100px;
  width: 95%;
}

.trip-schedule {
  display: flex;
  margin: var(--mb-1-2);
}

.trip-destination,
.trip-schedule {
  margin: var(--mb-2);
}

.date {
  margin-right: var(--mb-1-2);
}

.dashboard-subtitle-destination {
  font-size: var(--h4-font-size);
}

/*========== Terms of Service ==========*/
.terms {
  width: 30%;
}

.dashboard-subtitle-terms {
  font-size: var(--normal-font-size);
  color: var(--light-color);
  font-weight: var(--page-title);
  margin-bottom: 0;
  font-weight: var(--font-medium);
}

.service-description {
  color: var(--paragraph-color);
  font-size: var(--paragraph-size);
}

.terms-of-use-container {
  justify-content: center;
}

.dashboard-subtitle-terms-service {
  display: block;
  color: var(--terms);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
  font-size: var(--biggest-font-size);
}

.heading-list li:before {
  content: "➔";
  color: var(--light-color) !important;
  margin-right: var(--mb-2);
}

.terms-of-service {
  background: none;
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.heading-list li {
  color: var(--paragraph-color);
  font-size: var(--paragraph-size);
}

.terms-of-use-container {
  margin-left: var(--mb-3);
}

/*========== Privacy Policy ==========*/
.privacy {
  width: 100%;
}

.dashboard-subtitle-privacy {
  font-size: var(--normal-font-size);
  color: var(--terms);
  font-weight: var(--page-title);
  margin-bottom: 0;
  font-weight: var(--font-medium);
}

.dashboard-subtitle-effective {
  color: var(--paragraph-color);
  display: block;
  font-size: var(--paragraph-size);
  text-align: justify;
}

.line {
  border: 1px solid #CECECE;
  ;
}

.privacy-description {
  color: var(--paragraph-color);
  font-size: var(--paragraph-size);
  text-align: justify;
}

.privacy-container {
  margin-left: var(--mb-3);
}

/*========== GRID ==========*/
@media screen and (min-width: 576px) {

  .full-name-container,
  .registration-password-container,
  .email-notification-container,
  .notification-sms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .settings-nav-container,
  .passenger-nav-container {
    display: flex;
    flex-direction: row;
  }

  .settings_container,
  .passenger-container {
    margin-left: var(--mb-3);
  }

  .email-notification-container input {
    margin-left: var(--mb-8);
  }

  .notification-sms-container input {
    margin-top: var(--mb-7);
    margin-left: var(--mb-8);
  }

}