/*========== MODAL ==========*/
.no-choice {
  color: var(--dashboard-font-color);
}

.choices-1 {
  text-decoration: none;
  color: #fff;
}

.choices-2 {
  text-decoration: none;
  color: var(--dashboard-font-color);
}

.modal-make-transactions {
  float: right;
  color: var(--dashboard-font-color);
  margin-top: -33px;
  margin-right: var(--mb-11);
}

.modal-img {
  width: 45%;
}

.modal-img-save {
  width: 20%;
}

.exit {
  float: right;
  color: var(--dashboard-font-color);
}

a.choice {
  padding: 8px 46px;
  color: #fff;
}

.choice-1 {
  color: #fff;
  background: var(--first-color);
  border-radius: 5px;
  border: none;
  width: 120px;
  height: 34PX;
  cursor: pointer;
}

.choice-2 {
  background: none;
  border-radius: 5px;
  border: 1px solid var(--dropdown-border);
  width: 120px;
  height: 34PX;
  cursor: pointer;

  a.choice {
    color: var(--dashboard-font-color);
  }
}

.yesbtn:hover {
  color: white;
}

.dashboard-subtitle-modal {
  font-size: var(--normal-font-size);
  color: var(--light-color);
  font-weight: var(--page-title);
  margin-bottom: 0;
  font-weight: var(--font-medium);
}

/*MAKE TRIP MODAL*/
#modalWindowMaketrips {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms linear;
  pointer-events: none;
}

#modalWindowMaketrips:target {
  opacity: 1;
  pointer-events: auto;
}

#modalWindowMaketrips>div {
  width: 380px;
  height: 290px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 13px 20px;
  border: solid;
  border-color: var(--text-area-color);
  border-width: 2px;
  background: var(--text-area-color);
  border-radius: 10px;
}

/*ACCOUNT CHANGES*/
#modalWindowChangesAccount {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms linear;
  pointer-events: none;
}

#modalWindowChangesAccount:target {
  opacity: 1;
  pointer-events: auto;
}

#modalWindowChangesAccount>div {
  width: 400px;
  height: 270px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 13px 20px;
  border: solid;
  border-color: var(--text-area-color);
  border-width: 2px;
  background: var(--text-area-color);
  border-radius: 10px;
}

/*EXIT*/
.modal-img-logout {
  width: 50%;
}

#modalWindowExit {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms linear;
  pointer-events: none;
}

#modalWindowExit:target {
  opacity: 1;
  pointer-events: auto;
}

#modalWindowExit>div {
  width: 400px;
  height: 330px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 13px 20px;
  border: solid;
  border-color: var(--text-area-color);
  border-width: 2px;
  background: var(--text-area-color);
  border-radius: 10px;
}

/* Seat Selecion */

.select-seat {
  padding: var(--mb-6) 0;
  background: var(--body-color);
}

#modalSelectSeat {
  width: 50%;
}

#modalSelectSeat {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  opacity: 0;
  transition: opacity 400ms linear;
  pointer-events: none;
}

#modalSelectSeat:target {
  opacity: 1;
  pointer-events: auto;
}

#modalSelectSeat>div {
  width: 440px;
  height: 550px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 13px 20px;
  border: solid;
  border-color: var(--text-area-color);
  border-width: 2px;
  background: var(--text-area-color);
  border-radius: 10px;
}


/*View Van*/
.modalViewVan {
  width: 50%;
}

#modalViewVan {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms linear;
  pointer-events: none;
}

#modalViewVan:target {
  opacity: 1;
  pointer-events: auto;
}

#modalViewVan>div {
  width: 1200px;
  height: 600px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 13px 20px;
  border: solid;
  border-color: var(--text-area-color);
  border-width: 2px;
  background: var(--text-area-color);
  border-radius: 10px;
}

/*Before Proceed*/
.modalBeforeProceed {
  width: 50%;
}

#modalBeforeProceed {
  position: fixed;
  top: -100px;
  right: 0;
  bottom: 0px;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms linear;
  pointer-events: none;
}

#modalBeforeProceed:target {
  opacity: 1;
  pointer-events: auto;
}

#modalBeforeProceed>div {
  width: 450px;
  height: 600px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 13px 20px;
  border: solid;
  border-color: var(--text-area-color);
  border-width: 2px;
  background: var(--text-area-color);
  border-radius: 10px;
}

/*Cancellation Warning*/
.modalCancellationWarning {
  width: 50%;
}

#modalCancellationWarning {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity: 0;
  transition: opacity 400ms linear;
  pointer-events: none;
}

#modalCancellationWarning:target {
  opacity: 1;
  pointer-events: auto;
}

#modalCancellationWarning>div {
  width: 450px;
  height: 400px;
  position: relative;
  margin: 10% auto;
  padding: 20px 20px 13px 20px;
  border: solid;
  border-color: var(--text-area-color);
  border-width: 2px;
  background: var(--text-area-color);
  border-radius: 10px;
}

/*========== MODAL STYLE ==========*/
.no-choice {
  color: var(--dashboard-font-color);
}

.choices-1 {
  text-decoration: none;
  color: #fff;
}

.choices-2 {
  text-decoration: none;
  color: var(--dashboard-font-color);
}

.modal-make-transactions {
  float: right;
  color: var(--dashboard-font-color);
  margin-top: -33px;
  margin-right: var(--mb-11);
}

.modal-img {
  width: 45%;
}

.modal-img-payment {
  width: 35%;
}

.modal-img-save {
  width: 20%;
}

.exit {
  float: right;
  color: var(--dashboard-font-color);
}

.exit:hover {
  color: #008080;
}

.choice-1 {
  color: #fff;
  padding: 5px 18px;
  background: var(--first-color);
  border-radius: 5px;
  border: none;
  width: 120px;
  height: 36PX;
  cursor: pointer;

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.choice-2 {
  color: var(--dashboard-font-color);
  background: none;
  padding: 5px 18px;
  border-radius: 5px;
  border: 1px solid var(--dropdown-border);
  width: 120px;
  height: 36PX;
  cursor: pointer;
  text-decoration: none;

  a {

    &:hover {
      color: var(--dashboard-font-color);
    }
  }
}

.dashboard-subtitle-modal {
  font-size: var(--normal-font-size);
  color: var(--light-color);
  font-weight: var(--page-title);
  margin-bottom: 0;
  font-weight: var(--font-medium);
}

/*seats*/
.interactive-seats {
  display: flex;
  margin-top: var(--mb-2);
  justify-content: center;
}

.interactive-seating-chart {
  margin: 0 var(--mb-9);
}

#result {
  margin-top: 10px;
}

/*Icons*/
.avail {
  color: #ABABAB;
}

.select {
  color: #60B0B0;
  ;
}

.reserve {
  color: #ABABAB;
}

.available,
.selected,
.reserved {
  margin-right: var(--mb-4);
}


iconify-icon {

  &.info {
    margin-bottom: -3px;
    color: #6C757D;
  }

}

/*Fonts*/
.dashboard-subtitle-modal-seats {
  justify-content: center;
  font-size: var(--h4-font-size);
  color: #ABABAB;
  font-weight: var(--page-title);
  margin-bottom: 0;
  font-weight: var(--font-medium);
  margin-top: var(--mb-4);
}

.dashboard-subtitle-modal-seats-interactive-available {
  font-size: .938rem;
  color: #ABABAB;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
}

.dashboard-subtitle-modal-seats-interactive {
  font-size: .938rem;
  color: #ABABAB;
  font-weight: var(--page-title);
  margin-bottom: 0;
  font-weight: var(--font-medium);
  margin-top: var(--mb-4);
}

/*seats*/

.seat-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 15px;
}

.commuter-seats {
  justify-self: center;
}

.driver-area {
  grid-column-start: span 2;
  justify-self: center;
}

.seat-layout label {
  cursor: pointer;
  display: flex;
}

.seat-layout label input[type="checkbox"] {
  display: none;
}

.seat-layout label .icon-box {
  position: relative;
  display: flex;
  width: 42px;
  height: 40PX;
  padding: 1px;
  flex-direction: column;
  align-items: center;
  color: #6C757D;
  border: 2px solid #ABABAB;
  border-radius: 10px;
  font-size: .6rem;
  transition: 0.4s;
  user-select: none;
}

.icon-box:hover {
  border: 2px solid #66B2B2 !important;
  transition: 0.4s;
}

.seat-layout label input[type="checkbox"]:checked~.icon-box {
  background: #66B2B2;
  border-color: transparent;
  color: #fff;
}

.seat-layout label input[type="checkbox"]:disabled~.icon-box {
  cursor: not-allowed;

  &:hover {
    border-color: #ABABAB !important;
  }
}

.seat-layout label .icon-box span {
  margin: 5px;
  font-size: .938rem;
}

.prompt-section {
  margin: var(--mb-3) var(--mb-9);

  .selected-seats {

    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--seat-list-color);
    height: 45px;
    border-radius: 10px;
    padding-left: 10px;

    .seat-icon {
      color: #66B2B2;
      padding-right: 8px;
    }

    input.valueList {
      font-size: var(--paragraph-size);
      color: #66B2B2;
      font-weight: var(--page-title);
      background: transparent;
    }

  }

  .error-maximum {
    display: block;
    font-size: var(--paragraph-size);
    color: var(--error-txt);
    margin: 4px;
  }

}

#max-msg {
  display: none;
}

/*buttons*/
.buttons {
  display: flex;
  justify-content: center;
  margin-top: var(--mb-4);

  .modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 130px;
    border-radius: 10px;
  }

  .disabled {
    cursor: not-allowed;
    pointer-events: none;
    background: #393b3dc2;
    color: #848e95;
  }
}

.cancel {
  margin-right: var(--mb-3);
  background: #848e95;
  color: white;
  cursor: pointer;
}

.cancel:hover {
  background-color: #6C757D;
  color: white;
  transition: 0.3s;
}

.proceed {
  background: #60B0B0;
  border-radius: 10px;
  border: none;
  color: white;
  transition: 0.3s;
}

.proceed:hover {
  background-color: var(--hover-color-add);
  transition: 0.3s;
}

/*========== VIEW VAN ==========*/

#modalViewVan {
  margin-top: -70px;
}

.vancolor {
  color: #E9E1E2;
}

.view-van-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 40px 30px;
  background: var(--body-color);
}

.gallery-container {
  margin-right: var(--mb-3);
}

.vantype {
  display: flex;
  flex-direction: column;
}

.one, .two, .three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.van-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/*Fonts*/
.dashboard-subtitle-van-type-description {
  letter-spacing: -0.02em;
  color: #6C757D;
}

.dashboard-subtitle-van-type {
  font-size: var(--normal-font-size);
  font-family: 'DM Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: #4f5760;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;

  &.van-brand {
    font-size: var(--h3-font-size) !important;
    font-weight: 600;
  }
}

.dashboard-subtitle-van-type-name {
  font-style: normal;
  font-weight: 700;
  font-size: var(--second-font);
  line-height: 36px;
  color: #6C757D;
  letter-spacing: -0.02em;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.dashboard-subtitle-van-price {
  font-style: normal;
  font-weight: 700;
  font-size: var(--second-font);
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #42A1A1;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.vantype,
.rental-price,
.van-color {
  display: flex;
  flex-direction: column;
}

.van-information,
.sub-van-info {
  display: flex;
  flex-direction: row;
}

.sub-van-info {
  margin-top: var(--mb-2);
  text-align: center;
}

/*Buttons*/
.buttons-van {
  display: flex;
  margin-top: var(--mb-5);
}

.back-button {
  margin-right: var(--mb-3);
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #656565;
  border-radius: 10px;
  width: 150px;
  height: 55px;
}

.back-button:hover {
  background-color: var(--hover-color-add);
  color: white;
  border: none;
}

.select-van-button {
  background: #60B0B0;
  border-radius: 10px;
  width: 150px;
  height: 55px;
  border: none;
  color: white;
}

.select-van-button:hover {
  background-color: var(--hover-color-add);
}

/*Gallery*/
.gallery-container {
  border-radius: 10px;
}

.gallery-container .photo-main {
  margin-bottom: 5px;
}

.gallery-container .photo-main img {
  width: 100%;
  height: 22.5rem;
  clip-path: inset(0% 0% 0% 0% round 8px);
  object-fit: cover;
  object-position: center;
}

.gallery-container .van-photo {
  display: none;
}

.gallery-container .van-photo img {
  vertical-align: middle;
}

.gallery-container .thumbnail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gallery-container .thumbnail .column {
  width: 24%;
}

.gallery-container .thumbnail .column img {
  border-radius: 6px;
}

.gallery-container .thumbnail .column .demo {
  opacity: 0.8;
}

.gallery-container .thumbnail .column .active,
.gallery-container .thumbnail .column .demo:hover {
  opacity: 1;
  transition: opacity ease-in 0.2s;
}

.gallery-container .thumbnail .column .cursor {
  cursor: pointer;
}

.gallery-container .thumbnail:after {
  content: "";
  display: table;
  clear: both;
}

/*Proceed*/
.cancel-payment {
  margin-right: var(--mb-2);
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #656565;
  border-radius: 10px;
  width: 130px;
  height: 50px;
}

.cancel-payment:hover {
  background-color: var(--hover-color-add);
  color: white;
  border: none;
}

.yes-payment {
  background: #60B0B0;
  border-radius: 10px;
  width: 130px;
  height: 50px;
  border: none;
  color: white;
}

.yes-payment:hover {
  background-color: var(--hover-color-add);
}

.dashboard-subtitle-modal-payment {
  font-size: var(--normal-font-size);
  color: var(--light-color);
  font-weight: var(--page-title);
  margin-bottom: 0;
  font-weight: var(--font-medium);
}